# Folders
.vscode
bin
lib
include

# Objects
*.o

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*

# Executables
*.exe
*.out

# Valgrind
cachegrind.out.*
vgcore*

# VIM FILES
*.*.swp

# Meld (git mergetool) Files
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

# Doxygen
doxygen